<div *ngIf="isRegister()">
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand" href="#"><img style="width: 75px" src="../../../assets/unnamed.gif"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">
          <i class="fa fa-home"></i>
          Home

        </a>

        <a class="nav-link" routerLink="add">
          <i class="fa fa-newspaper-o"></i>
          Add Blog

        </a>
      </li>
    </ul>


    <a routerLink="/" class="btn btn-dark ">Log Out
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </a>


  </div>
</nav>
</div>




<div *ngIf="isComment()">

  <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="#"><img style="width: 75px" src="../../../assets/unnamed.gif"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">
            <i class="fa fa-home"></i>
            Home

          </a>

          <a class="nav-link" routerLink="add">
            <i class="fa fa-newspaper-o"></i>
            Add Blog

          </a>
        </li>
      </ul>


      <a routerLink="/" class="btn btn-dark ">Log Out
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </a>


    </div>
  </nav>
</div>




<div *ngIf="isAdd()">

  <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="#"><img style="width: 75px" src="../../../assets/unnamed.gif"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">
            <i class="fa fa-home"></i>
            Home

          </a>

          <a class="nav-link" routerLink="add">
            <i class="fa fa-newspaper-o"></i>
            Add Blog

          </a>
        </li>
      </ul>


      <a routerLink="/" class="btn btn-dark ">Log Out
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </a>


    </div>
  </nav>
</div>


